<h1>SurfJy</h1>
<p>Find the tonnel jou masekind</p>
<%= month_calendar do |date| %>
  <div class="calendar-day">
    <%= link_to date, surf_spots_path(date: date) do %>
      <%= date %>
    <% end %>
  </div>
<% end %>
